# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv_linux/
env/
ENV/
instance/
*.db
*.sqlite

# Environment variables
.env
.flaskenv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migrations (opcional, pero recomendado para evitar conflictos)
migrations/versions/*.pyc
